body {
  background-color: #eeeeee;
  background-image: url("../img/tileable-wood.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 50px;
}

.pagination li.active {
  background-color: #00695c;
}

.sidenav-trigger {
  margin: 15px 0 15px 15px;
}

/* nav {
  padding-top: 50px;
  margin-bottom: 50px;
} */

.btn:hover {
  background-color: #009688 !important;
}

.sidenav {
  width: 200px;
}

li div a {
  margin-left: 40px;
}

label {
  font-size: 1.3rem !important;
}

.select-wrapper li.selected, .select-wrapper li {
  text-align: center !important;
}

#coll {
  float: left;
}

.select-dropdown {
  text-align: center;
  font-weight: bold;
  margin-top: 10px !important;
}

/* .user-view {
  height: 100px;
  
}
.user-view img {
  width: 100px;
  height: 100px;
} */

/* li a {
  
  font-weight: bold;
  
} */

.collection-item span:first-child {
  font-weight: bold;
}

.page-footer .fab {
  padding: 5px;
}

.carousel .carousel-item img {
  border-radius: 1%;
}

.indicator-item {
  background-color: teal !important;
  height: 12px !important;
  width: 12px !important;
}

.indicator-item.active {
  background-color: #424242 !important;
}

.card-content {
  z-index: 4
}

.btn-floating {
  bottom: 7px !important;
}

.tab-container {
  border: black 5px solid;
  border-radius: 10px;
}

#tabs-swipe-demo {
  background-color: #00796b;
}

#tabs-swipe-demo .active {
  background-color: #26a69a;
  font-weight: bold;
}

#tabs-swipe-demo .indicator {
  background-color: #004d40
}

.tabs-content {
  min-height: 50vh !important;
}

.tabs-content h2 {
  margin: 10px;
}

.tabs-content p {
  margin: 0px;
}

::placeholder {
  color: #9e9e9e;
}

#test-swipe-2 div, div.input-field {
  margin-bottom: 0px !important;
}

#test-swipe-2 div, div.input-field {
  margin-top: 0px !important;
}

form div {
  line-height: 10px;
}

/****** MEDIA QUERIES ******/

@media screen and (max-width: 600px) {
  /* .carousel main {
    margin-top: 30px !important;
  } */
  main {
    margin-top: 50px;
  }
  .indicator-item {
    height: 10px !important;
    width: 10px !important;
  }
  .select-dropdown {
    margin-top: 35px !important;
    font-weight: normal;
  }
  form#displayQty .select-wrapper {
    width: 20vw !important;
  }
}

@media screen and (min-width: 601px) and (max-height: 800px) {
  main {
    margin-top: 30px;
  }
  .carousel.main {
    /* margin-top: 30px; */
    height: 500px !important;
  }
  .carousel .carousel-item.main {
    width: 300px !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 601px) and (min-height: 801px) {
  /* .nav-wrapper img {
    width: 70%;
  } */
  main {
    margin-top: 30px;
  }
  .carousel.main {
    /* margin-top: 30px; */
    height: 600px !important;
  }
  .carousel .carousel-item.main, .carousel-item.main img {
    width: 400px !important;
    height: 400px !important;
  }
  .modal .carousel {
    height: 400px;
  }
  .modal .carousel-item {
    width: 200px;
    height: 200px
  }
  .select-dropdown {
    margin-top: 35px !important;
  }
}

@media screen and (min-width: 992px) {
  .sidenav-trigger {
    display: none;
  }
  .nav-wrapper img {
    width: 70%;
  }
  /* nav {
    display: none;
    height: 10px;
  } */
  #one, #two {
    width: 250px;
    border: black 7px solid;
    border-radius: 50%;
  }
  .carousel.main {
    /* margin-top: 20px; */
    height: 700px !important;
  }
  .carousel .carousel-item.main {
    width: 500px !important;
    height: 500px !important;
  }
  .modal .carousel {
    height: 650px;
  }
  .modal .carousel-item {
    width: 400px;
    height: 400px
  }
}

@media screen and (min-width: 992px) and (max-height: 800px) {
  .carousel.main {
    /* margin-top: 20px; */
    height: 600px !important;
  }
  .carousel .carousel-item.main {
    width: 400px !important;
    height: 400px !important;
  }
}

@media screen and (min-width: 1200px) {
  .nav-wrapper img {
    width: 100%;
  }
}