
body {
  background-color: #eeeeee;
background-image: url("/img/tileable-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
height: 100%;
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 50px;
}


.sidenav-trigger {
  margin: 15px 0 15px 15px;
}
/* nav {
  padding-top: 50px;
  margin-bottom: 50px;
} */

.btn:hover {
  
  background-color:#009688 !important;
  
}

.sidenav {
  width: 200px;
}

li div a {
  margin-left: 40px;
}

/* .user-view {
  height: 100px;
  
}
.user-view img {
  width: 100px;
  height: 100px;
} */


/* li a {
  
  font-weight: bold;
  
} */

.page-footer .fab {
  padding: 5px;
}

.carousel .carousel-item img{
  border-radius: 1%;
}


.indicator-item {
  background-color: teal !important;
  height: 12px !important;
  width: 12px !important;
}

.indicator-item.active {
  background-color: #424242 !important ;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .carousel  {
    margin-top: 30px !important;
  }
  .indicator-item {
    height: 10px !important;
    width: 10px !important;
  }

  
}

@media screen and (min-width: 601px) {
  .carousel  {
    margin-top: 30px;
    height: 600px !important;
  }

  .carousel .carousel-item{
    width: 400px !important;
    height: 400px !important;
  }
}

@media screen and (min-width: 993px) {
  .sidenav-trigger {
    display: none;
  }

  /* nav {
    display: none;
    height: 10px;
  } */

  .carousel  {
    margin-top: 20px;
    height: 800px !important;
  }

  .carousel .carousel-item{
    width: 600px !important;
    height: 600px !important;
  }
}


